*{
    margin:0;
    padding:0;
  
    text-decoration: none;
    list-style:none;
}
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');
main{
    max-width: 100%;
    margin:auto;
}
body{
    font-family:'Rajdhani', sans-serif;
}
nav {
        height:80px;
        width:100%;
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../assets/2.jpg');
        border-bottom: 1px solid white;
      
}
nav a{
    color:aliceblue;
    font-family:montserrat;
}
.logo img{
   padding-top: 0.6rem;
    float:left;
    width:3.6rem;
    height:auto;
    cursor:pointer;
}
nav ul{
    float:right;
    margin-right: 40px;
}
nav li{
     display:inline-block;
     margin: 0 8px;
     line-height: 80px;
}
nav a{
    color:white;
    font-size: 18px;
    transform:translate(-50%,-50%);
   /* text-transform: uppercase;*/
    border: 1px solid transparent;
    padding:7px 10px;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
a:hover{
      background-color:rgb(7, 7, 7);
      border: 1px solid white;
      border-color: #f1f55c;
      color:white;
      box-shadow: 0 0.5em 0.5em -0.4em #f1f55c;
      transform: translateY(0.50em);
      cursor:pointer;
}
nav #icon{
    color:white;
    font-size:30px;
    line-height: 80px;
    float:right;
    margin-right: 40px;
    cursor:pointer;
    display:none;
}
@media (max-width: 1048px){
    .logo img{
        padding-top:10px;
    }
    h1{
        display: none;
    }
   button{
       display:none;
   }
   nav ul{
       margin-right: 20px;
   }
   nav a{
       font-size: 17px;
   }

}
@media (max-width:909px) {
nav #icon{
    display:block;
}
nav ul{
    position:fixed;
    width: 100%;
    height:100vh;
    background:url("../assets/2.jpg") ;
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
    border-top: 1px solid white;
}
nav li{
    display:block;
    margin:50px 0;
    line-height: 30px;
}
nav a{
    font-size:20px;
    border: 2px solid white;
    padding: 10px 30px;
    color:white;
    text-decoration: none;
    transform:translate(-50%,-50%);
    transition: 0.5s ease-in-out;
}
a:hover{
    background-color: black;
    border:none;
    color:white;
}
nav ul.show{
    left:0;
}
}
section{
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../assets/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:88.7vh;
}
.name{
    position:absolute;
    top:45%;
    left:31%;
}
h1{
    top:50%;
    font-size: 5em;
    font-weight: 500;
    color:#fff;
    letter-spacing: 5px;
    font-family: 'Rajdhani',Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
   
}
h1 span{
    transition:0.5s ;
}
h1:hover span:nth-child(1){
   margin-right: 10px;
}
h1:hover span:nth-child(3){
    margin-left: 40px;
 }
h1:hover span{
    color:#fff;
    text-shadow: 0 0 10px rgb(255, 48, 11),
                 0 0 20px rgb(238, 10, 10),
                 0 0 40px rgb(173, 105, 105),
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
}
.button {
    position:absolute;
    top:80%;
    left:49%;
    transform:translate(-50%,-50%);
}
.btn{
        border: 2px solid white;
        padding:10px 30px;
        color: white;
        text-decoration:none;
        transition: 1s ease-in-out;
        margin: 5px;
}
.btn:hover{
    background-color: black;
    color:white;
}
